{% extends "manager/base.html" %}

{% block title %} 添加博文 {% endblock %}

{% block content %}

	<div class="row-fluid" style="margin-left:-80px">
		<div class="span12" style="width:100%;margin-left:0px;margin-top:0px">
			<form class="form-horizontal" method="post" action="/manager/deal_add_article/">
				{% csrf_token %}
				<div class="control-group">
					 <label class="control-label" for="inputTitle">文章标题</label>
					<div class="controls">
						<input id="inputTitle" type="text" name="title" style="width:240px"/>
					</div>
				</div>
				<div class="control-group" style="width:90%">
					 <label class="control-label" for="inputContent">正文内容</label>
					<div class="controls">
						<textarea id="inputContent" class="form-control ckeditor" name="content" rows="20" style="width:500px"></textarea>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						 <button type="submit" class="btn">OK</button>
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
