{% extends "manager/base.html" %}

{% block title %}文章列表{% endblock %}

{% block css %}
<link rel="stylesheet" href="/media/css/manager_span12.css">
{% endblock %}

{% block content %}

{% for article in articles %}
<input type="hidden" value="{{article.id}} name="article_id" />
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12 manager_span12" style="padding:10px">
			<h2 style="display:inline">
				<a href="/manager/manage_article/?id={{article.id}}">{{article.title}}</a>
			</h2>
				<small>{{ article.time_stamp }}</small>
			<p>
			{{ article.content | truncatewords_html:30 }}
			</p>
			<hr/>
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}
