<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
	<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<style type="text/css">
	
	#msj-span12-1{		
	  border-bottom-style:solid;
	  border-bottom-width:thin;
	  border-bottom-color:#0288d1;
	  padding-left:20px;
	}
	#msj-span8-1{
	  margin-left:20px;
	  margin-top:30px;
      padding-right:20px;	  
	}
	#msj-span4-1{
	  margin-right:0px;
	  margin-left:-20px;
	  margin-top:30px;
	}
	.msj-calendar{
	  width:90%;
      height:200px;
      background-color:#b3e5fc;
}
	
	{% block cssstyle %}{% endblock %}

	</style>

	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"></script>
    
</head>
<body>
	<div class="container-fluid" id="msj-container">
		<div class="row-fluid">
			<div class="span12" id="msj-span12-1">
				<h2>管理后台</h2>
					<ul class="nav nav-pills" style="margin-bottom:0px">
						<li class="active">
						<a href="/manager/index/">管理首页</a>
						</li>
					</ul>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span8" id="msj-span8-1">
				{% block content %}{% endblock %}
			</div>
			<div class="span4 pull-right" id="msj-span4-1">
				<ul class="nav nav-list">
					<li class="nav-header">
						操作
					</li>
					<li class="active">
						<a href="/manager/add_article/">添加博文</a>
					</li>
					<li>
						<a href="/manager/article_list/">管理文章和评论</a>
					</li>
					<li>
						<a href="/manager/manage_accounts/">管理账户</a>
					</li>
					<li>
						<a href="/articles/index/">跳转到博客前台</a>
					</li>
					<li>
						<a href="/accounts/logout/">登出</a>
					</li>
				</ul>
			
				<hr/>
    		
				<form class="form-search" method="post" action="/manager/search/">
					{% csrf_token%}
					<label for="search">查询文章</label>
      				<input type="text" class="input-medium search-query" name="keywords" id="search">
      				<button type="submit" class="btn">Search</button>
    			</form>
				<div class="msj-calendar text-center">
					<p>这里是日历</p>
				</div>
			</div>
		</div>
		<div id="msj-footer" class="text-center">
			<font color="#0088f0">
				Designed and built with all the love in the world by @meishijia.
			</font>
		</div>
	</div>
</body>
</html>

