{% extends "manager/base.html" %}

{% block title %}管理站点{% endblock %}

{% block cssstyle%}
pre{
  font-size:10px;

}
{% endblock %}



{% block content %}
<div class="text-center">
<pre>
<font size="5px">
It was the best of times
It was the worst of times
It was the age of wisdom 
It was the age of foolishness
It was the epoch of belief
It was the epoch of incredulity
It was the season of Light
It was the season of Darkness
It was the spring of hope
It was the winter of despair
We had everything before us,we had nothing before us
We were all going direct to Heaven
we were all going direct the other way—in short
The period was so far like the present period
That some of its noisiest authorities insisted on its being received
For good or for evil, in the superlative degree of comparison only.
</font>
</pre>
</div>
{% endblock %}
