{% extends "manager/base.html" %}

{% block title %} 添加博文 {% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12" style="width:100%;margin-left:50px;margin-top:50px">
			<form class="form-horizontal" method="post" action="/manager/deal_mod_article/">
				{% csrf_token %}
				<input type="hidden" value="{{article.id}}" name = "article_id"/>
				<div class="control-group">
					 <label class="control-label" for="inputTitle">文章标题</label>
					<div class="controls">
						<input id="inputTitle" type="text" name="title" style="width:240px" value="{{article.title}}"/>
				</div>
				</div>
				<div class="control-group" style="width:90%">
					 <label class="control-label" for="inputContent">正文内容</label>
					<div class="controls">
						<textarea id="inputContent" class="form-control ckeditor" name="content" rows="20">{{article.content}}</textarea>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						 <button type="submit" class="btn">OK</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
