{% extends "accounts/base.html" %}

{% block title %}登录 {% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12" style="width=200px;margin-left:330px;margin-top:200px">
			<form class="form-horizontal" method="post" action="/accounts/deal_form/">
				{% csrf_token %}
				<div class="control-group">
					 <label class="control-label" for="inputUsername">用户名</label>
					<div class="controls">
						<input id="inputUsername" type="text" name="username"/>
					</div>
				</div>
				<div class="control-group">
					 <label class="control-label" for="inputPassword">密码</label>
					<div class="controls">
						<input id="inputPassword" type="password" name="password"/>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						 <button type="submit" class="btn" action="/accounts/login/">登陆</button>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<a href="/accounts/register" class="btn">注册</a>
						<!--<button class="btn" onclick="javascript:window.location="/accounts/register/">注册</button>-->
					</div>
				</div>
			<!--</form>
			<form method="post" action="/accounts/register/">
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">注册</button>-->
		</div>
	</div>
</div>
{% endblock %}
