{% extends "accounts/base.html" %}

{% block title %}登录 {% endblock %}

{% block cssstyle %}
<style type="text/css">
#logindev{
  position: absolute;
  top: 20%;
  left:40%;
}
#inputUsername:focus,
#inputPassword:focus{
  outline:0;
  border-color:rgba(179,229,252,0.8);
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(179,229,252, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(179,229,252, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(179,229,252, 0.6);
}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" id="logindev">
			<form class="form-horizontail" method="post" action="/accounts/deal_form/">
				<fieldset>
					<legend>登录</legend>
				{% csrf_token %}
				<p> <font color="#0088f0">{{message}} </font></p>
				<div class="control-group">
					 <label class="control-label" for="inputUsername">用户名</label>
					<div class="controls">
						<input id="inputUsername" type="text" name="username"/>
					</div>
				</div>
				<div class="control-group">
					 <label class="control-label" for="inputPassword">密码</label>
					<div class="controls">
						<input id="inputPassword" type="password" name="password"/>
					</div>
				</div>
				<div style="padding-left:10px padding-right:10px height:auto">
				<div class="control-group pull-left">
					<div class="controls">
						 <button type="submit" class="btn">登陆</button>
					</div>
				</div>
				<div class="control-group pull-right">
					<div class="controls">
						<a href="/accounts/register" class="btn">注册</a>
					</div>
				</div>
				</div>
				</fieldset>
			</form>
	</div>
</div>
{% endblock %}
