{% extends "accounts/base.html" %}

{% block title %}注册{% endblock %}

{% block cssstyle%}
<style tyle="text/css">
#msj-center{
  position:absolute;
  top:20%;
  left:30%;
}
#msj-reset{
  width:100px;
}
</style>

{% endblock %}


{% block content %}
<div class="container">
		<div class="span12">
			<h3 style="text-align:center">
				欢迎来到我的博客~~~
			</h3>
		</div>
		<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" id="msj-center">
			<form class="form-horizontal" method="post" action="/accounts/deal_register/">
				{% csrf_token %}
				<div class="control-group">
					 <label class="control-label" for="inputUsername">用户名</label>
					<div class="controls">
						<input id="inputUsername" type="text" name="username"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">邮箱</label>
					<div class="controls">
						<input id="inputEmail" type="text" name="email"/>
					</div>
				</div>
				<div class="control-group">
					 <label class="control-label" for="inputPassword">密码</label>
					<div class="controls">
						<input id="inputPassword" type="password" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">注册</button>
					</div>
				</div>
				<div class="control-group">
					<div class="controls" id="msj-reset">
						<button type="reset" class="btn" >重置</button>
					</div>
				</div>
			</form>
			</div>
</div>


{% endblock %}
