{% extends "articles/base.html" %}

{% block title %}首页{% endblock %}

{% block cssstyle %}
#msj-container{
  margin-left:-20px;
  margin-right:-20px;
}
#msj-page-header{
  margin-left:20px;
  border:none;
  color:black;
  margin-bottom:10px
}
#msj-span12-1{
  margin-bottom:0px;
}
#msj-nav1{
  margin-bottom:0px;
}
#msj-nav2{
  margin-bottom:0px;
}
.msj-article{
  margin-top:20px;
  margin-left:20px;
  mergin-bottom:30px;
  
}
#msj-row-fluid{
  border-bottom-style:solid;
  border-bottom-width:thin;
  border-bottom-color:#0288d1; 

}
.msj-introduce{
  width:90%;
  height:200px;
  background-color:#b3e5fc;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
}
.msj-calendar{
  width:90%;
  height:200px;
  background-color:#bdbdbd;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
}
.msj-friendly-links{
  width:90%;
  height:200px;
  background-color:#b3e5fc;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;

}

{% endblock %}

{% block content %}
<div class="container-fluid" id="msj-container">

	<div class="row-fluid" style="background-color:#fff">
		<div class="span12" id="msj-span12-1"> 
			<div class="page-header" id="msj-page-header">
				<h1>
					相思已是不曾闲
				</h1>
			</div>
		</div>
		<div class="row-fluid" id="msj-row-fluid">
			<div class="span6">
				<ul class="nav nav-pills" id="msj-nav1" style="margin-left:20px">
					<li class="active">
						<a href="#">首页</a>
					</li>
					<li>
						<a href="/article/about_me/">About Me~</a>
					</li>
					<li class="disabled">
						<a href="/article/contact_me">Contact_Me</a>
					</li>
				</ul>
			</div>
			<div class="span6">
				<ul class="nav nav-pills pull-right" id="msj-nav2" style="margin-right:10px">
					<li class="active">
						<a href="/manager/index/">管理站点</a>
					</li>
					<li>
						<a href="/accounts/logout/">登出</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span8">
			{% for article in articles %}
			<div class="msj-article">
				<h2 style="display:inline">
					<a href="/articles/show_article/?id={{article.id}}">{{article.title}}</a>
				</h2>
				<small>{{article.time_stamp}}</small>
				<p>
					{{article.content | truncatewords_html:20 | safe }}
				</p>
			</div>
			<hr/>
			{% endfor %}
		</div>
		<div class="span4 pull-right">
			<div class="msj-introduce">
				自我介绍
			</div>
			<div class="msj-calendar">
				日历
			</div>
			<div class="msj-friendly-links">
				友情链接
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12 text-center">
			<p>Designed and built with all the love in the world by @meishijia.</p>
		</div>
	</div>
</div>
{% endblock %}


