<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章</title>
    <!--<link rel="stylesheet" href="/css/articles/index.css">-->
</head>
<body>
{% block header %}<header><h1>{{ user.username }}的博客</h1></header>{% endblock %}
<nav>
    <ul>
        <li>首页</li>
        <li>博文目录</li>
        <li>关于我</li>
    </ul>
</nav>
{% block section %}
<section>
    {% for article in articles %}
    <h2>{{article.title}}</h2>
    <article>{{article.content}}</article>
    <p>评论</p>
    {% endfor %}
</section>
{% endblock %}
<aside>
    <form method="post" action="/articles/add_article/">
        {% csrf_token %}
        <button type="submit">写文章</button>
    </form>
</aside>
<footer>最终版权归...哦，并没有什么版权</footer>
</body>
</html>

