{% extends "articles/base1.html" %}

{% block title %}{{article.title}}{% endblock %}
{% block cssstyle1 %}
#msj-hero-unit{
  padding-left:30px;
  padding-top:30px;
  margin-top:20px;
}
.msj-comment{
  margin-left:30px;
  margin-bottom:20px;
}
.msj-form{
  margin-left:30px;
}
{% endblock %}
{% block article %}
	<div class="hero-unit" id="msj-hero-unit">
		<h2>
			{{article.title}}	
		</h2>
		<p>创建时间：{{article.time_stamp}}</p>
		<p>{{ article.content | safe }}</p>
	</div>
	<hr/>
	{% for comment in comments %}
	<div class="msj-comment">
	<h3><font color="#0088f0">{{comment.user.username}}</font></h3>
	<p>{{comment.content}}</p>
	</div>
	{% endfor %}
	<hr/>
	<div class="msj-form">
		<form class="form-inline" method="post" action="/comments/add_comments/">
			{% csrf_token %}
			<fieldset>
				<legend>添加评论</legend>
					<input type="hidden" value="{{article.id}}" name = "article_id"/>
					<div class="msj-input-button">
						<input type="text" name="content"/>
						<button type="submit" class="btn">评论</button>
					</div>
			</fieldset>
		</form>
	</div>
{% endblock %}
